.Header
  padding 1em
  text-align center
  &-container
    display inline-block
    vertical-align middle
  &-logo
    height 140px
    margin-right 1em
  &-icons
    display none
    width 300px

@media only screen and (min-width 600px)
  .Header
    &-icons
      display inline-block

    &-container:nth-child(2)
      text-align left
      width 30%

    &-logo
      height 140px
      margin-right 1em
