header.Header
  div.Header-logoContainer
    img.Header-logo(src="img/logo.jpg", alt="logo")
  div.Header-descriptionContainer
    p.Header-description "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad"
  div.Header-iconsContainer
    img.Header-icons(src="img/icons.jpg", alt="icons")
