.Services
  padding .5em
  &-title
    border-bottom 2px solid rgba(black, .7)
    padding-bottom .5em
    text-align center
  &-list
    padding 0

@media only screen and (min-width 600px)
  .Services
    text-align center
