verdeClaro = #60C3B5
verdeOscuro = #3EAB9B
aquaClaro = #74CDDE
aquaOscuro = #66B3C2
rosadoClaro = #F9CFDC
rosadoOscuro = #EB849C
naranjaClaro = #F9B587
naranjaOscuro = #E0A47B
rojoClaro = #BB333D
rojoOscuro = #A72B35
azulClaro = #31488C
azulOscuro = #253772


//Utilidades de colores
.u-verdeClaro
  background verdeClaro
.u-verdeOscuro
  background verdeOscuro
.u-aquaClaro
  background aquaClaro
.u-aquaOscuro
  background aquaOscuro
.u-rosadoClaro
  background rosadoClaro
.u-rosadoOscuro
  background rosadoOscuro
.u-naranjaClaro
  background naranjaClaro
.u-naranjaOscuro
  background naranjaOscuro
.u-rojoClaro
  background rojoClaro
.u-rojoOscuro
  background rojoOscuro
.u-azulClaro
  background azulClaro
.u-azulOscuro
  background azulOscuro

//Utilidades otras nombrar despues
.u-maxWidth
  max-width 1000px
  margin 0 auto
