section.Offer
  .Offer-container
    img.Offer-icon(src="img/offer/tshirt.png", alt="")
  .Offer-container
    h2.Offer-title Aprovecha la oferta
    span.Offer-description 12 unid. Tshirt RD$3,420.00
    a.Offer-button(href="#") Otras ofertas
  .Offer2  
    .Offer-container
      img.Offer-icon(src="img/offer/tshirt.png", alt="")
    .Offer-container
      h2.Offer-title Aprovecha la ofertas
      span.Offer-description 12 unid. Tshirt RD$3,420.00
      a.Offer-button(href="#") Otras ofertas
