.Offer
  background #FFFEEE
  padding 1.5em .2em
  text-align center
  &-container
    display inline-block
    height 100%
    vertical-align middle
    text-align left

  &-icon
    height 80px
    margin-right 1em
  &-title
    margin 0 0 0 0

  &-button
    width 110px
    background #FFE17F
    border-bottom 5px solid #A39355
    border-radius 8px
    color rgba(black, .8)
    display block
    text-decoration none
    font-weight bold
    padding 1em
    text-align center
    margin-top .5em

.Offer2
  display none

@media only screen and (min-width 760px)
  .Offer2
    display inline-block
