li.Service
  .Service-header.u-verdeClaro
    img.Service-image(src="img/services/impresos.png", alt="Impresos")
    h2.Service-title Impresos en Papel
  .Service-body.u-verdeOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
    img.Service-icon(src="img/services/impresos-icons.png", alt="")

li.Service
  .Service-header.u-aquaClaro
    img.Service-image(src="img/services/textiles.png", alt="Textiles")
    h2.Service-title Textiles
  .Service-body.u-aquaOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
    img.Service-icon(src="img/services/textiles-icons.png", alt="")
    
li.Service
  .Service-header.u-rosadoClaro
    img.Service-image(src="img/services/plotter.png", alt="Plotter")
    h2.Service-title Impresión Gran Formato
  .Service-body.u-rosadoOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
    img.Service-icon(src="img/services/plotter-icons.png", alt="")  
                
li.Service
  .Service-header.u-naranjaClaro
    img.Service-image(src="img/services/instalaciones.png", alt="Instalaciones")
    h2.Service-title instalaciones
  .Service-body.u-naranjaOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
    img.Service-icon(src="img/services/instalaciones-icons.png", alt="")
        
li.Service
  .Service-header.u-rojoClaro
    img.Service-image(src="img/services/cnc.png", alt="Cnc")
    h2.Service-title Instalaciones
  .Service-body.u-rojoOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
    img.Service-icon(src="img/services/cnc-icons.png", alt="")
                
li.Service
  .Service-header.u-azulClaro
    img.Service-image(src="img/services/eventos.png", alt="Eventos y Ferias")
    h2.Service-title Eventos y Ferias
  .Service-body.u-azulOscuro
    ul.Service-detailList
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla
      li.Service-detailItem blablabla 
    img.Service-icon(src="img/services/eventos-icons.png", alt="")           
