.Footer
  background #58595B
  padding 1em
  color white
  text-align center

  a:link
    color white

  &-social
    margin-right .5em
    img
      height 30px
      vertical-align middle
      margin-right .5em
  &-email
    border 1px solid white
    border-radius 15px
    padding .5em 2em
    display inline-block
