footer.Footer
  .u-maxWidth
    .Footer-container
      .Footer-social
        a.social(href="#")
          img(src="img/footer/facebook.png", alt="")
        a.social(href="#")
          img(src="img/footer/twitter.png", alt="")
        a.social(href="")
          img(src="img/footer/instagram.png", alt="")
        @rkcreativa    
      p.Footer-email negocios@rkcreativa.com
    .Footer-container
      p.Footer-description C/ José Gabriel García, No. 124, Zona Colonial, Santo Domingo, D.N. Cel.: (829) 820-3558  / (829) 861-9004, Ofic.: (809) 688-5018 / (809) 333-9154 adm@rkcreativa.com, negocios@rkcreativa.com
