@import nib
@import '/lib/utils.styl'
@import '/lib/normalize.styl'
@import "/header/index.styl"
@import "/offer/index.styl"
@import "/service/index.styl"
@import "/services/index.styl"
@import "/footer/index.styl"

body
  font-size 16px
  font-family arial
  min-height 100vh
  color #4D4D4F
