doctype html
html
  head
    link(rel="stylesheet", href="app.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title Rk Creativa, Taller Publicitario
  body
    section.App-container
      include ./header/index.jade
      include ./offer/index.jade
      include ./services/index.jade        
      include ./footer/index.jade
      
    script(src="app.js")
        
        
